html,body{height:100%;margin:0;padding:0}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#cbz-app-container{background:magenta;height:100%}
#cbz-app-toolbar {background:#EEE;height:30px;width:100%;position:absolute;top:0;padding:0;z-index:1}
#cbz-app-body {height:100%}
#cbz-app-browser {background:white;position:absolute;top:0%;left:0;width:100%;height: 0%;-webkit-transition:top 1s, height 1s}
#cbz-app-viewer {background:#444;position:absolute;top: 0%;left:0;width:100%;height: 100%;-webkit-transition: top 1s, height 1s}
#cbz-app-queue {background:#DDD;position:absolute;top: 100%;left:0;width:100%;height: 0%;-webkit-transition: top 1s, height 1s}

/* override base style changes */
.browser #cbz-app-browser,
.browser #cbz-app-viewer,
.browser #cbz-app-queue,
.queue #cbz-app-browser,
.queue #cbz-app-viewer,
.queue #cbz-app-queue,
.browser.queue #cbz-app-viewer {width:100%;left:0}

.browser #cbz-app-browser {height:33.3%}
.browser #cbz-app-viewer {top:33.3%;height:66.7%}
.browser #cbz-app-queue {top:100%;height:0%}
.queue #cbz-app-viewer {height:66.7%}
.queue #cbz-app-queue {height:33.3%;top:66.7%}
.browser.queue #cbz-app-viewer {height:33.4%}

